h1, h2, h3 {
  color: white;
  text-align: center;
}

body {
  background-image: url('/src/assets/background.jpg'); ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Roboto";
}